@page
@model IndexModel
@{
	ViewData["Title"] = "Home page";
}

<div>
	<h1 class="display-4">Hi Pinewood</h1>
	<p>
		This is my response to the coding challenge. I have decided to use Razor pages, which I haven't used before so this was an interesting challenge.
		<br />
		I found the scaffolding feature very useful as it basically generated the edit page for me and I only needed to tidy up a few problems.
		<br />
		The list page I made myself and this was useful to help me understand how EntityFramework integrates into the pages, the dependency injection etc.
		<br />
		Thanks for giving me the opportunity and looking forward to hearing from you.
	</p>
</div>
